@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg_clr {
  background: linear-gradient(
    174deg,
    rgba(2, 26, 56, 0.98) -12.41%,
    rgba(204, 51, 217, 0.98) 88.56%
  );
}
.ff_poppins {
  font-family: "Poppins", sans-serif !important;
}
.welcome_txt {
  background: linear-gradient(165deg, #021a38 0.18%, #cc33d9 61.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.more_btn {
  background: linear-gradient(181deg, #021a38 -30.61%, #cc33d9 132.4%);
  transition: all 400ms linear !important;
}
.more_btn:hover{
  background: linear-gradient(131deg,#021a38 -32.61%,#cc33d9 112.4%);
  transition: all 400ms linear !important;
}
.living_txt {
  background: linear-gradient(178deg, #fd749b -13.56%, #281ac8 158.3%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 300px 0px;
}
.slick-current {
  transform: scale(1.5);
}
.slick-next:before {
  display: none !important;
}
.slick-prev::before {
  display: none !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.link {
  transition: scale 400ms;
  height: 100%;
}
.link:hover {
  scale: 120%;
}
.img_hov {
  transition: scale 400ms;
  height: 100%;
}
.img_hov:hover {
  scale: 102%;
}
@media (min-width:800px) {
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 500px 0px;
  }  
}